body {
	background-image: url(img/isok.jpg);
	background-size: cover;
	background-attachment: cover;

}

.container {
	background-color: white;
	border-radius: 15px;
	padding: 50px;
	padding-top: 5px;
	margin-top: 33px;
}

